.stretch,
.clear {
    clear:both;
    height:1px;
    margin:0;
    padding:0;
    font-size: 15px;
    line-height: 1px;
}
.p {
    font-size: xx-large;
}

.buttonClass
{
    border-right: blue 1px solid;
    border-top: blue 1px solid;
    font-size: 9pt;
    background-image: url(/static/test/favicon.ico);
    vertical-align: middle;
    border-left: blue 1px solid;
    cursor: hand;
    color: #000000;
    border-bottom: blue 1px solid;
    font-family: "宋体";
    text-align: center;
}