<!DOCTYPE html>
<html class="no-js" lang="en" style="overflow: hidden;" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>平行企业</title>
    <link rel="shortcut icon" href="http://sunui.scn.weilian.cn:12809/se/demo/img/icon/favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="http://sunui.scn.weilian.cn:12809/se/demo/css/styles.css"/>
    <link rel="stylesheet" type="text/css" href="http://sunui.scn.weilian.cn:12809/se/style/css/bootstrap/fixedColumns.bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="http://sunui.scn.weilian.cn:12809/se/demo/css/themes.css"/>
    <link href="http://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
    <script src="http://sunui.scn.weilian.cn:12809/se/src/plugin/modernizr/modernizr.min.js" type="text/javascript" charset="utf-8"></script>
</head>

<body>
<p shiro:guest=""></p>
<div class="loading-animation se-loading"> <div class="bounce1"></div> <div class="bounce2"></div><div class="bounce3"></div></div>
<div id="page-wrapper">
    <div class="preloader themed-background">
        <h1 class="push-top-bottom text-light text-center"><strong>Pro</strong>UI</h1>

        <div class="inner">
            <h3 class="text-light visible-lt-ie10"><strong>Loading..</strong></h3>
            <div class="preloader-spinner hidden-lt-ie10"></div>
        </div>
    </div>
    <div id="page-container" class="header-fixed-top sidebar-visible-lg sidebar-no-animations">
        <div id="sidebar">

            <!-- Sidebar Content -->
            <div class="sidebar-content">
                <!-- Brand -->
                <div class="account-box">
                    <img class="nav-user-photo"
                         src="http://sunui.scn.weilian.cn:12809/se/demo/img/placeholders/avatars/avatar.jpg"/>
                    <span>PX01 测试员</span>
                    <input type="hidden" id="userId" value="540494"/>
                    <span class="arrow bottom"></span>

                </div>
                <nav class="per_options">
                    <!--个人设置-->
                    <ul class="sidebar-section sidebar-themes clearfix sidebar-nav-mini-hide">
                        <!-- You can also add the default color theme
                            <li class="active">
                                <a href="javascript:void(0)" class="themed-background-dark-default themed-border-default" data-theme="default" data-toggle="tooltip" title="Default Blue"></a>
                            </li>
                                -->
                        <li>
                            <a href="javascript:void(0)" class="themed-background-dark-clint themed-border-clint"
                               data-theme="css/themes/suneee.css" data-toggle="tooltip" title="象谱风格"></a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" class="themed-background-dark-night themed-border-night"
                               data-theme="css/themes/night.css" data-toggle="tooltip" title="深邃蓝"></a>
                        </li>

                        <li>
                            <a href="javascript:void(0)" class="themed-background-dark-modern themed-border-modern"
                               data-theme="css/themes/modern.css" data-toggle="tooltip" title="墨绿"></a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" class="themed-background-dark-autumn themed-border-autumn"
                               data-theme="css/themes/autumn.css" data-toggle="tooltip" title="橙色"></a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" class="themed-background-dark-flatie themed-border-flatie"
                               data-theme="css/themes/flatie.css" data-toggle="tooltip" title="翠绿"></a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" class="themed-background-dark-spring themed-border-spring"
                               data-theme="css/themes/spring.css" data-toggle="tooltip" title="绿色"></a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" class="themed-background-dark-fancy themed-border-fancy"
                               data-theme="css/themes/fancy.css" data-toggle="tooltip" title="红色"></a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" class="themed-background-dark-fire themed-border-fire"
                               data-theme="css/themes/fire.css" data-toggle="tooltip" title="象翌红"></a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" class="themed-background-dark-coral themed-border-coral"
                               data-theme="css/themes/coral.css" data-toggle="tooltip" title="亮橙"></a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" class="themed-background-dark-lake themed-border-lake"
                               data-theme="css/themes/lake.css" data-toggle="tooltip" title="珊瑚朱"></a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" class="themed-background-dark-forest themed-border-forest"
                               data-theme="css/themes/forest.css" data-toggle="tooltip" title="松柏绿"></a>
                        </li>
                        <li>
                            <a href="javascript:void(0)"
                               class="themed-background-dark-waterlily themed-border-waterlily"
                               data-theme="css/themes/waterlily.css" data-toggle="tooltip" title="松花绿"></a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" class="themed-background-dark-emerald themed-border-emerald"
                               data-theme="css/themes/emerald.css" data-toggle="tooltip" title="绿沈"></a>
                        </li>
                        <li>
                            <a href="javascript:void(0)"
                               class="themed-background-dark-blackberry themed-border-blackberry"
                               data-theme="../css/themes/blackberry.css" data-toggle="tooltip" title="宝石绿"></a>
                        </li>
                    </ul>
                    <a href="#" data-addtab="个人设置" data-url="component_pages/personal_settings.html" data-title="个人设置">
                        <i class="fa fa-cog"></i> <span>个人设置</span>
                    </a>
                    <a href="#" data-addtab="修改密码" data-url="component_pages/modify_password.html" data-title="修改密码">
                        <i class="fa fa-lock"></i> <span>修改密码</span>
                    </a>
                    <a href="./login.html">
                        <i class="fa fa-sign-out"></i> <span>退出登录</span>
                    </a>
                </nav>
                <div class="toolbar">
                    <div class="toolbar-wrapper">
                        <div class="toolbar-search">
                            <i class="toolbar-search__icon gi gi-search"></i>
                            <input type="text" id="search-key" name="toolbar-input"
                                   class="toolbar-search__input background-transparent-light color-content-background-color border-transparent-lighter"
                                   placeholder="搜索 (Ctrl+K)"/>
                            <i id="remove-key"
                               class="toolbar-search__icon gi gi-remove_2 toolbar-search__icon--cancel"></i>
                        </div>
                    </div>
                </div>
                <!-- Sidebar Navigation -->
                <ul class="sidebar-nav" id="sidebar-scroll">
                    
                </ul>
                <!-- END Sidebar Navigation -->
                <footer class="footer">
                    <a href="#"></a>
                </footer>
                <!-- END Brand -->
            </div>
            <!-- END Sidebar Content -->
        </div>
        <!--end main sidebar-->

        <div id="main-container">
            <header class="navbar navbar-default navbar-fixed-top navbar-inverse">
                <!-- Left Header Navigation -->
                <ul class="nav navbar-nav-custom">
                    <!-- Main Sidebar Toggle Button -->
                    <li class="burger" onclick="App.sidebar('toggle-sidebar');this.blur();">
                        <i></i>
                        <i></i>
                        <i></i>
                    </li>
                    <li>
                        <h3>平行企业</h3>
                    </li>
                    <!-- END Main Sidebar Toggle Button -->
                </ul>
                <!-- END Left Header Navigation -->

                <!-- Right Header Navigation -->
                <ul class="nav navbar-nav-custom pull-right">
                    <!-- Alternative Sidebar Toggle Button -->
                    <li class="dropdown">
                        <!-- If you do not want the main sidebar to open when the alternative sidebar is closed, just remove the second parameter: App.sidebar('toggle-sidebar-alt'); -->
                        <a href="javascript:(0)" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-bell fa-2x"></i>
                            <span class="label label-primary label-indicator animation-floating">6</span>
                        </a>
                        <ul class="dropdown-menu dropdown-custom dropdown-menu-right">
                            <li class="dropdown-header">您有 <strong>6</strong> 个待办事项</li>
                            <div class="todo-con">
                                <li>
                                    <i class="fa fa-credit-card category-icon"></i>
                                    <dl>
                                        <dt>应收费用
                                            <font class="text-danger"> [未签收]</font>
                                        </dt>
                                        <dd>
                                            <font>[业务号：10225]</font> 黄小明
                                        </dd>
                                    </dl>
                                    <span>现在</span>
                                    <i class="fa fa-star fa-2x label-icon" data-toggle="tooltip" title=""
                                       data-original-title="取消优先"></i>
                                </li>
                                <li>
                                    <i class="fa fa-credit-card category-icon"></i>
                                    <dl>
                                        <dt>供应商结算
                                            <font class="text-danger"> [未签收]</font>
                                        </dt>
                                        <dd>
                                            <font>[业务号：10225]</font> 黄小明
                                        </dd>
                                    </dl>
                                    <span>现在</span>
                                    <i class="fa fa-star-o fa-2x label-icon" data-toggle="tooltip" title=""
                                       data-original-title="标注优先"></i>
                                </li>
                                <li>
                                    <i class="gi gi-shopping_cart category-icon"></i>
                                    <dl>
                                        <dt>采购订单
                                            <font class="text-danger"> [未签收]</font>
                                        </dt>
                                        <dd>
                                            <font>[业务号：10225]</font> 黄小明
                                        </dd>
                                    </dl>
                                    <span>25分钟前</span>
                                    <i class="fa fa-star-o fa-2x label-icon" data-toggle="tooltip" title=""
                                       data-original-title="标注优先"></i>
                                </li>
                                <li>
                                    <i class="fa fa-shopping-basket category-icon"></i>
                                    <dl>
                                        <dt>批发销售
                                            <font class="text-danger"> [未签收]</font>
                                        </dt>
                                        <dd>
                                            <font>[业务号：10225]</font> 黄小明
                                        </dd>
                                    </dl>
                                    <span>昨天</span>
                                    <i class="fa fa-star-o fa-2x label-icon" data-toggle="tooltip" title=""
                                       data-original-title="标注优先"></i>
                                </li>
                                <li>
                                    <i class="fa fa-yen category-icon"></i>
                                    <dl>
                                        <dt>贷款申请
                                            <font class="text-danger"> [未签收]</font>
                                        </dt>
                                        <dd>
                                            <font>[业务号：10225]</font> 黄小明
                                        </dd>
                                    </dl>
                                    <span>2017-4-16</span>
                                    <i class="fa fa-star-o fa-2x label-icon" data-toggle="tooltip" title=""
                                       data-original-title="标注优先"></i>
                                </li>
                                <li>
                                    <i class="fa fa-gift category-icon"></i>
                                    <dl>
                                        <dt>赠品出库
                                            <font class="text-danger"> [未签收]</font>
                                        </dt>
                                        <dd>
                                            <font>[业务号：10225]</font> 黄小明
                                        </dd>
                                    </dl>
                                    <span>2017-4-16</span>
                                    <i class="fa fa-star-o fa-2x label-icon" data-toggle="tooltip" title=""
                                       data-original-title="标注优先"></i>
                                </li>
                            </div>
                            <div class="more_link">
                                <a href="#" class="" data-addtab="待办事项" data-url="component_pages/todo_list.html"
                                   data-title="待办事项">查看所有待办事项</a>
                            </div>
                        </ul>
                    </li>
                    <!-- END Alternative Sidebar Toggle Button -->
                    <!-- Alternative Sidebar Toggle Button -->
                    <li class="dropdown">
                        <!-- If you do not want the main sidebar to open when the alternative sidebar is closed, just remove the second parameter: App.sidebar('toggle-sidebar-alt'); -->
                        <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="gi gi-envelope fa-2x"></i>
                            <span class="label label-primary label-indicator animation-floating">4</span>
                        </a>
                        <ul class="dropdown-menu dropdown-custom dropdown-menu-right">
                            <li class="dropdown-header">您有 <strong>5</strong> 个未读的通知信息</li>
                            <li style="display: none;">
                                <a href="#"><i class="gi gi-envelope"></i>
                                    <font>[管理员]</font>关于采购合同提交规范<span class="pull-right">现在</span></a>
                                <a href="#"><i class="gi gi-envelope"></i>
                                    <font>[管理员]</font>关于采购合同提交规范<span class="pull-right">25分钟前</span></a>
                                <a href="#"><i class="gi gi-envelope"></i>
                                    <font>[管理员]</font>关于采购合同提交规范<span class="pull-right">5小时前</span></a>
                                <a href="#"><i class="gi gi-envelope"></i>
                                    <font>[管理员]</font>关于采购合同提交规范<span class="pull-right">昨天</span></a>
                                <a href="#"><i class="gi gi-envelope"></i>
                                    <font>[管理员]</font>关于采购合同提交规范<span class="pull-right">2017-04-25</span></a>
                            </li>
                            <div class="notice-con">
                                <li><i class="gi gi-envelope"></i>
                                    <font>[管理员]</font>关于采购合同提交规范<span class="pull-right">现在</span></li>
                                <li><i class="gi gi-envelope"></i>
                                    <font>[管理员]</font>关于采购合同提交规范<span class="pull-right">25分钟前</span></li>
                                <li><i class="gi gi-envelope"></i>
                                    <font>[管理员]</font>关于采购合同提交规范<span class="pull-right">5小时前</span></li>
                                <li><i class="gi gi-envelope"></i>
                                    <font>[管理员]</font>关于采购合同提交规范<span class="pull-right">昨天</span></li>
                                <li><i class="gi gi-envelope"></i>
                                    <font>[管理员]</font>关于采购合同提交规范<span class="pull-right">2017-04-25</span></li>
                            </div>
                            <div class="more_link">
                                <a href="#" data-addtab="通知公告" data-url="component_pages/notice.html" data-title="通知公告">查看所有通知公告</a>
                            </div>
                        </ul>
                    </li>
                    <!-- END Alternative Sidebar Toggle Button -->

                    <!-- User Dropdown -->
                    <li class="dropdown">
                        <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="hi hi-th-large fa-2x"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-custom dropdown-menu-right">
                            <li class="dropdown-header">常用功能</li>
                            <li>
                                <a href="#" data-addtab="机构管理" data-url="component_pages/org.html" data-title="机构管理">
                                    <i class="hi hi-time fa-fw pull-right"></i> 机构管理
                                </a>
                                <a href="#" data-addtab="高级表格" data-url="component_pages/complex_simple.html"
                                   data-title="高级表格">
                                    <i class="hi hi-time fa-fw pull-right"></i> 高级表格
                                </a>

                            </li>
                        </ul>
                    </li>
                    <!-- END User Dropdown -->
                </ul>
                <!-- END Right Header Navigation -->
            </header>
            <!-- END Header -->
            <!-- Page content -->
            <!-- Nav tabs -->
            <ul class="nav nav-tabs label-tabs se-tabs" role="tablist">
                <!--<li role="presentation" class="active">
                        <a href="#home" aria-controls="系统首页" role="tab" data-toggle="tab">系统首页</a>
                    </li>-->
            </ul>
            <!-- Tab panes -->

            <div class="tab-content overSroller" id="main-content">
                <!--<div role="tabpanel" class="tab-pane active" id="home">
                            <iframe id="page-content" style="padding: 0;" class="iframeClass" frameborder="no" border="0" src="dashboard.html" style="height: 300px;"></iframe>
                        </div>-->
            </div>

            <!-- END Page Content -->
        </div>
    </div>
</div>
<!-- Scroll to top link, initialized in js/app.js - scrollToTop() -->
<a href="#" id="to-top"><i class="fa fa-angle-double-up"></i></a>
<script src="http://sunui.scn.weilian.cn:12809/se/src/plugin/jQuery/jquery.min.js" type="text/javascript" charset="utf-8"></script>
<script src="http://sunui.scn.weilian.cn:12809/se/demo/js/plugins_fix.js" type="text/javascript" charset="utf-8"></script>
<script src="http://sunui.scn.weilian.cn:12809/se/demo/build/main.min.js" type="text/javascript" charset="utf-8"></script>
<script src="http://sunui.scn.weilian.cn:12809/se/src/plugin/layer/layer.js" type="text/javascript" charset="utf-8"></script>

<!--<script src="http://sunui.scn.weilian.cn:12809/se/src/plugin/echarts/echarts.js" type="text/javascript" charset="utf-8"></script>-->
<!--<script src="http://sunui.scn.weilian.cn:12809/se/src/plugin/echarts/theme/macarons.js" type="text/javascript" charset="utf-8"></script>-->
<!--<script src="http://sunui.scn.weilian.cn:12809/se/src/plugin/echarts/theme/blue.js" type="text/javascript" charset="utf-8"></script>-->

<!--<script src="http://sunui.scn.weilian.cn:12809/sys/getCommonConfig.js" type="text/javascript" charset="utf-8"></script>-->
<script src="/suneee/js/getCommonConfig.js" type="text/javascript" charset="utf-8"></script>


<script src="http://sunui.scn.weilian.cn:12809/se/demo/build/se.min.js" type="text/javascript" charset="utf-8"></script>
<!--<script src="http://sunui.scn.weilian.cn:12809/se/demo/js/custom.js" type="text/javascript" charset="utf-8"></script>-->
<!--<script src="http://cdn.bootcss.com/require.js/2.3.3/require.min.js"></script>-->



<script src="/suneee/js/style.js" type="text/javascript" charset="utf-8"></script>

<script src="/suneee/js/commons.js" type="text/javascript" charset="utf-8"></script>


<script type="text/javascript">

    /*var baseStrUrl;        //base URL
    var supplierURL;   		//供应商的URL
    var goodsURL;     //商品的
    var storageUrl;    //仓库
    var wholesaleUrl;  //批发
    var saleUrl;     //零售
    var kitchenUrl;     //后厨URL
    var marketUrl; //促销
    var purchaseUrl;  //采购
    var reportformUrl;//报表
    var contractUrl; //合同
    var enterpriseId; //企业
    var uploadUrl;	  //上传图片url
    var dictionaryUrl;
    var product_scf_domain;        //金融url
     //domaindata.product_smf_domain ="http://my.chint.weilian.cn:35017/";        //金融url
    var domaindata = {};
	domaindata.product_tps_domain = "http://my.chint.weilian.cn:35016/";
	domaindata.product_smf_domain ="http://my.chint.weilian.cn:35017/"; //金融url
	domaindata.product_cmp_domain ="http://my.chint.weilian.cn:35042/"; */
    $(function () {

        /*getModularPrefix();*/

        initWebApp().then(function () {

            suneeeUI.initMenu();
            initStyle();

            window.$.addtabs.add({
                close: false,
                id: "home",
                ajax: true,
                url: "http://localhost:8081/userInfo.html",
                title: "首页"
            });
            initEvent();
            // 加载完首页再初始化
            App.init();
        });

        function initStyle() {
            $(document.body).css({
                "overflow-x": "hidden",
                "overflow-y": "hidden"
            });
            $("#main-content").height($(window).height() - 100);
            //icheck使用方法
            $('input').iCheck({
                labelHover: false,
                cursor: true,
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '20%'
            });

        }

        function initEvent() {
            $(".account-box").click(function () {
                if ($(".arrow").hasClass("bottom")) {
                    $(".arrow").removeClass("bottom");

                    $(".arrow").addClass("top");
                    $(".per_options").slideDown(200);
                } else {
                    $(".arrow").removeClass("top");
                    $(".arrow").addClass("bottom");
                    $(".per_options").slideUp(200);
                }
            });
        }


        function initWebApp() {
            var dtd = $.Deferred();
            SEconfig.menu = [{
                title: 'SCF',
                iconClass: "gi gi-keys",
                menuId:1,
                subMenu: [{
                    title: "新增",
                    menuId:101,
                    iconClass: "新增",
                    url:'http://localhost:8081/userInfoAdd.html',
                    subMenu: null,
                    settings: {
                        table: {
                            add: "true",
                            edit: "true",
                            del: "true",
                            search: "true",
                            tools: "true",
                            detail: "true",
                            seniorSearch: "true",
                            batchHandle: "true",
                            audit: "true"
                        },
                        "form": null
                    }
                },{
                    title: "删除",
                    menuId:102,
                    iconClass: "删除",
                    url:'http://localhost:8081/userInfoDel.html',
                    subMenu: null,
                    settings: {
                        table: {
                            add: "true",
                            edit: "true",
                            del: "true",
                            search: "true",
                            tools: "true",
                            detail: "true",
                            seniorSearch: "true",
                            batchHandle: "true",
                            audit: "true"
                        },
                        "form": null
                    }
                }]
            }];
            $(".se-loading").hide();
            $("#page-wrapper").show();
            dtd.resolve();
            /*$.ajax({
                type: "GET",
                url: "/userInfo/list",
                data: {},
                dataType: "json",
                success: function (menuData) {
                    /!*SEconfig.menu = menuData.data[0];*!/
                    console.log("菜单数据："+menuData.data[0]);

                },error:function () {

                }
            });*/
            return dtd;
        }
    });

    /*function getdict(){

        dictInit();// 数据字典初始化
        apiUrlInit();// 公共数据初始化

    }*/

    /*function getModularPrefix() {
        $.ajax({
            async : false,
            type : "GET",
            dataType : 'json',
            url: "/user/getModularPrefix",
            error : function(data) {
                alert("获取api的url数据失败" + data);
            },
            success : function(data) {
                baseStrUrl=data.baseUrl;
                supplierURL =data.supplierURL;
                //goodsURL=data.goodsURL;
                goodsURL="http://my.chint.weilian.cn:40884/";
                storageUrl=data.storageUrl;
                wholesaleUrl =data.wholesaleUrl;
                saleUrl=data.saleUrl;
                kitchenUrl=data.kitchenUrl;
                marketUrl =data.marketUrl;
                purchaseUrl=data.purchaseUrl;
                reportformUrl=data.reportformUrl;
                contractUrl = data.contractUrl;
                uploadUrl=data.uploadUrl;
                enterpriseId= data.enterpriseId;
                dictionaryUrl= data.dictionaryUrl;
                product_scf_domain= "http://my.chint.weilian.cn:30913/";
                workflowUrl = "http://test.flw.scn.weilian.cn:81/web-basic/";
            }
        });
		
    }*/
    
  

</script>

<!--放最后加载，先获取数据，后发请求-->
<script src="/suneee/js/dictionaryInit.js" type="text/javascript" charset="utf-8"></script>

</body>

</html>